* {
  margin: -6px;
  padding: 1px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html,
body {
  min-height: 10%

}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #121214;
  background-image: url(./assets/bg.svg);
  background-position: center;
  padding: 50px;

  overflow: hidden;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 150px;
  height: 150px;
}


#app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#cards {
  width: ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  padding: 32px 30px;
  text-align: center;
  background: #1d1c19;
  border-bottom: 2px solid #f7dd43;
  border-radius: 6px;

  margin: 10px;

}

.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;


  padding: 8px 16px;
  border: 1px solid #746615;
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;

  color: #f7dd43;
}

.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
  /* tamanho da fonte*/
  text-transform: uppercase;
  /*uppercase significa tudo maiusculo*/
}

body * {
  font-family: 'Roboto', sans-serif;
}

.card ul li {
  display: flex;
  /*desbloquear as propriedades*/
  align-items: center;
  justify-content: space-between;
  /*Espaço entre os elementos*/
  gap: 20px;

}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  /*espaço entre cada um dos elementos*/
}

.card ul li+li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card ul li strong {
  font-weight: 750;
  font-size: 30px;
  line-height: 125%;

  color: #e1e1e6;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
  /* O HOVER SIGNIFICA QUE QUANDO PASSAR O CURSOR EM CIMA SERÁ INTERPRETADO*/
  /*A TAG TRANSFORM:SCALE É PARA DAR ANIMAÇÃO AO PASSAR DO CURSOR EM CIMA DO ITEM/OBJETO/TEXTO*/
}

.card h2 .card ul li strong,
.card ul li img {
  transition: transform 0.3s;
}

.card {
  opacity: 0;
  animation: appear 2s forwards;
}

footer {
  margin-top: 44px;
  
}
footer img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  transition: 2s;
}

footer img:hover {
  transform: scale(1.4);
  transition: 2s;
}



@keyframes appear {
  /*KEY FRAMES PARA DAR ANIMAÇÃO */

  0% {
    transform: translateY(-50px);
    /* (Y) É O EIXO QUE VEM DA HORIZONTAL*/
    opacity: 0;
  }

  100% {
    opacity: 3;

  }
}
@media (max-width: 815px) {
  body {
    overflow-y: auto;
  }
  #cards {
    flex-direction: column;
  }
}

@media screen and (max-width: 300px) {
  #main {
    min-width: 1000;
  }
}




/* Mano voce sabe que nao precisa criar varios apps né? para adicionar mais cartões */


/*A VIRGULHA SIGNIFICA QUE ESTOU AGRUPANDO DOIS SELETORES PARA RECEBEREM AS MESMAS COISA*/






/*HTML É A ESTRUTURA, CSS É A BELEZA, JAVASCRIPT É A INTELIGENCIA!*/

/* PORQUE JAVASCRIPT? PORQUE ELE DESENVOLVE APLICATIVOS PARA WEB, DESKTOP E MOBILE, Temos o ELECTRON PARA DESKTOP E REACT NATIVE que são Frameworks, no caso BIBLIOTECA*/